{
    "openapi": "3.0.0",
    "info": {
        "title": "Api Sendit Documentation",
        "description": "Bienvenue à l'API Sendit, votre solution complète pour la gestion de la livraison.Pour accéder à notre API, vous aurez besoin d'un jeton d'authentification. <br/><br/> Vous pouvez l'obtenir en envoyant une requête POST à l'endpoint `/login` avec vos identifiants. Après avoir obtenu le jeton, assurez-vous de l'inclure dans l'en-tête 'Authorization' de chaque requête sous la forme 'Bearer [votre jeton]'.<br/> <br/> Notre API renvoie des codes d'état HTTP appropriés et des messages descriptifs en cas d'erreur. Par exemple, une réponse à une requête non autorisée pourrait ressembler à : `{ 'error': 'Vous n'avez pas les autorisations nécessaires' }`.Nous limitons le nombre de requêtes à notre API pour assurer la qualité du service. Veuillez noter qu'il y a une limite de 1000 requêtes par heure.<br/> <br/> Chez Sendit, nous nous engageons à améliorer continuellement notre service. Tout en nous efforçant de maintenir la rétrocompatibilité de notre API, nous publierons des notifications anticipées et des instructions de migration pour tous les changements majeurs.<br/> <br/> Sendit notifie votre système en temps réel via des webhooks : à chaque événement important (changement de statut d'un colis, livraison effectuée, etc.), nous envoyons une requête POST vers l'URL que vous avez configurée. Pour la liste des événements, le format des payloads et la vérification de signature, consultez la <a href='https://app.sendit.ma/guide-webhook-sendit.pdf?v=1.0.0' target='_blank'>Documentation des Webhooks (PDF)</a>.",
        "contact": {
            "name": "Sendit Support",
            "email": "contact@sendit.ma"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://app.sendit.ma/api/v1/",
            "description": "Sendit"
        }
    ],
    "paths": {
        "/login": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Login utilisateur",
                "description": "Login de l'utilisateur et renvoie un token",
                "operationId": "09e51bef15f4fca5d7375d2da57197f6",
                "requestBody": {
                    "description": "Identifiants nécessaires pour se connecter",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "public_key": {
                                        "type": "string",
                                        "example": ""
                                    },
                                    "secret_key": {
                                        "type": "string",
                                        "example": ""
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginSuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Accès non autorisé à Utilisateur"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                }
            }
        },
        "/deliveries": {
            "get": {
                "tags": [
                    "Colis"
                ],
                "description": "Liste des colis",
                "operationId": "a2d9138b1202367fc0265f5a07e72449",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "querystring",
                        "in": "query",
                        "description": "Recherche par code, nom du client, téléphone et adresse",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, Retourner une liste des colis",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Liste des colis."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Colis"
                                            }
                                        },
                                        "total": {
                                            "description": "Le nombre total d'éléments dans la collection.",
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "per_page": {
                                            "description": "Le nombre d'éléments affichés par page.",
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "current_page": {
                                            "description": "Le numéro de la page actuellement affichée.",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page": {
                                            "description": "Le numéro de la dernière page de la collection.",
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "next_page_url": {
                                            "description": "L'URL de la page suivante de la collection. Si la page actuelle est la dernière, cette valeur peut être null.",
                                            "type": "string",
                                            "example": "http://example.com/api/v1/deliveries?page=2"
                                        },
                                        "prev_page_url": {
                                            "description": "L'URL de la page précédente de la collection. Si la page actuelle est la première, cette valeur peut être null.",
                                            "type": "string",
                                            "example": "http://example.com/api/v1/deliveries?page=1"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "404": {
                        "description": "Page non trouvée"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Colis"
                ],
                "summary": "Ajouter un nouveau colis",
                "description": "Ajoute un nouveau colis et retourne les détails de colis créé",
                "operationId": "cc7c31b9393655aea1b9b51d720034b9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewColisData"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NewColisDetail"
                                }
                            }
                        }
                    },
                    "250": {
                        "description": "Le champ produits est incorrect !"
                    },
                    "251": {
                        "description": "Les produits suivants P1,P2... n'existent pas "
                    },
                    "252": {
                        "description": "La quantité sélectionnée de ces produits P1,P2... n'est pas suffisante"
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/deliveries/{code}": {
            "get": {
                "tags": [
                    "Colis"
                ],
                "summary": "Détails de colis",
                "description": "Retour Détails de colis",
                "operationId": "b5d1d1797293f4f97569865008135022",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "code de colis",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ColisDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "404": {
                        "description": "Page non trouvée"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Colis"
                ],
                "summary": "Modifier un colis",
                "description": "Modifier un colis",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "code de colis",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewColisData"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NewColisDetail"
                                }
                            }
                        }
                    },
                    "250": {
                        "description": "Le champ produits est incorrect !"
                    },
                    "251": {
                        "description": "Les produits suivants P1,P2... n'existent pas "
                    },
                    "252": {
                        "description": "La quantité sélectionnée de ces produits P1,P2... n'est pas suffisante"
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Colis"
                ],
                "summary": "Supprimer un colis",
                "description": "Supprimer un colis",
                "operationId": "f52a1cd8e16177c533797f1d41144560",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "code de colis",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Colis supprimé avec succes."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/deliveries/getlabels": {
            "post": {
                "tags": [
                    "Colis"
                ],
                "summary": "Impression des étiquettes",
                "description": "Impression des étiquettes",
                "operationId": "0597de4c1fdb11c404114a0259f23b1a",
                "requestBody": {
                    "description": "Identifiants nécessaires pour imrpimer",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "codesToPrint": {
                                        "description": "Liste des codes des colis à imprimer, séparés par des virgules.",
                                        "type": "string",
                                        "example": "DH1,DH2,DH3"
                                    },
                                    "printFormat": {
                                        "description": "Indique le type d'imprimante : 1 pour imprimante thermique (10cm x 10cm), 0 pour format A4.",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Impression réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PrintLabelsDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/all-status-deliveries": {
            "get": {
                "tags": [
                    "Colis"
                ],
                "summary": "Obtenir la liste des statuts de livraison",
                "description": "Cette action récupère la liste complète des statuts de livraison avec leurs détails.",
                "operationId": "a68c1753e2bb9e0df85a6ffd31e4d9b9",
                "responses": {
                    "200": {
                        "description": "Liste des statuts récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponseAllStatus"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/districts": {
            "get": {
                "tags": [
                    "Villes"
                ],
                "description": "Liste des villes",
                "operationId": "e18e02f18e7355d8aa4ca8186f88c2cb",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "querystring",
                        "in": "query",
                        "description": "Recherche par nom de la ville.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "rabat"
                        }
                    },
                    {
                        "name": "pickup-district",
                        "in": "query",
                        "description": "Identifiant de la ville de ramassage. Les frais et délais de livraison affichés sont ajustés selon la ville de ramassage sélectionnée. Par défaut l'identifiant de Casablanca c'est id n° 46.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 46
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, Retourner une liste des villes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Liste des villes."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/District"
                                            }
                                        },
                                        "total": {
                                            "description": "Le nombre total d'éléments dans la collection.",
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "per_page": {
                                            "description": "Le nombre d'éléments affichés par page.",
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "current_page": {
                                            "description": "Le numéro de la page actuellement affichée.",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page": {
                                            "description": "Le numéro de la dernière page de la collection.",
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "next_page_url": {
                                            "description": "L'URL de la page suivante de la collection. Si la page actuelle est la dernière, cette valeur peut être null.",
                                            "type": "string",
                                            "example": "http://example.com/api/v1/districts?page=2"
                                        },
                                        "prev_page_url": {
                                            "description": "L'URL de la page précédente de la collection. Si la page actuelle est la première, cette valeur peut être null.",
                                            "type": "string",
                                            "example": "http://example.com/api/v1/districts?page=1"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "404": {
                        "description": "Page non trouvée"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/districts/pickup-cities": {
            "get": {
                "tags": [
                    "Villes"
                ],
                "summary": "Liste des villes de ramassage",
                "description": "Retourne la liste complète des villes de ramassage.",
                "operationId": "c65cca2362b961345e3c41385ff7a2f1",
                "responses": {
                    "200": {
                        "description": "Success, liste des villes de ramassage",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Villes de ramassage."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/PickupCity"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/districts/{id}": {
            "get": {
                "tags": [
                    "Villes"
                ],
                "summary": "Détails de la ville",
                "description": "Retour Détails de la ville",
                "operationId": "a0316835d0598e90c463ffef7a23811c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "identifiant de la ville",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DistrictDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "404": {
                        "description": "Page non trouvée"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/movements/in": {
            "get": {
                "tags": [
                    "Entrée de stock"
                ],
                "summary": "Liste des entrées de stock",
                "description": "Récupérer les entrées de stock, avec leurs produits associés.",
                "operationId": "60e65992311447ae13c1c1a6536f6bba",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des entrées de stock récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Liste des entrées de stock."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MovementListDetailIn"
                                            }
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 50
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 5
                                        },
                                        "next_page_url": {
                                            "type": "string",
                                            "example": "http://app.sendit.ma/api/v1/movements/in?page=2"
                                        },
                                        "prev_page_url": {
                                            "type": "string",
                                            "example": "http://app.sendit.ma/api/v1/movements/in?page=1"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Entrée de stock"
                ],
                "summary": "Créer un mouvement d'entrée de stock",
                "description": "Crée un mouvement IN contenant une liste de produits au format 'code:qty;code2:qty'.",
                "operationId": "08ec0bc102d4209929fbf533aad8d742",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "products"
                                ],
                                "properties": {
                                    "products": {
                                        "description": "Liste des produits au format 'CODE:QTY;CODE2:QTY'",
                                        "type": "string",
                                        "example": "PR3D06:30"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Mouvement d'entrée créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MovementDetailIn"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/movements/out": {
            "get": {
                "tags": [
                    "Sortie de stock"
                ],
                "summary": "Liste des sorties du stock",
                "description": "Retourne les sorties du stock.",
                "operationId": "3ef8d15623a93385f2c7694c88410578",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Numéro de page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "querystring",
                        "in": "query",
                        "description": "Recherche par code, nom, téléphone, statut ou date",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "RSHF04"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des sorties de stock récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Liste des sorties de stock."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MovementListDetailOut"
                                            }
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 6
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "next_page_url": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "prev_page_url": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Sortie de stock"
                ],
                "summary": "Créer un mouvement de sortie de stock",
                "description": "Crée un mouvement de sortie de stock contenant produits, client, téléphone, adresse, district…",
                "operationId": "a38b79a56c2f189e273985e2f39d7297",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "products",
                                    "district_id",
                                    "name",
                                    "phone",
                                    "address"
                                ],
                                "properties": {
                                    "products": {
                                        "description": "Liste des produits au format 'CODE:QTY;CODE2:QTY'",
                                        "type": "string",
                                        "example": "PR3D06:30"
                                    },
                                    "district_id": {
                                        "description": "ID du district",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "name": {
                                        "description": "Nom du destinataire",
                                        "type": "string",
                                        "example": "test label"
                                    },
                                    "phone": {
                                        "description": "Téléphone du destinataire",
                                        "type": "string",
                                        "example": "0698855977"
                                    },
                                    "address": {
                                        "description": "Adresse du destinataire",
                                        "type": "string",
                                        "example": "Casa"
                                    },
                                    "note": {
                                        "description": "Note éventuelle",
                                        "type": "string",
                                        "example": "Remarque optionnelle",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Mouvement de sortie créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MovementDetailOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/movements/in/{code}": {
            "get": {
                "tags": [
                    "Entrée de stock"
                ],
                "summary": "Afficher un mouvement d'entrée spécifique",
                "description": "Récupère les détails d'un mouvement d'entrée de stock avec la liste de produits.",
                "operationId": "2e3fa0cb00e2d1ca1a8b18c09c66adbc",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Code du mouvement IN",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "MHXXXXX"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails du mouvement d'entrée récupérés avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MovementDetailIn"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Mouvement non trouvé"
                    },
                    "403": {
                        "description": "Accès interdit"
                    },
                    "500": {
                        "description": "Erreur interne serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Entrée de stock"
                ],
                "summary": "Modifier un mouvement d'entrée",
                "description": "Met à jour les champs facultatifs d'un entré de stock. Les produits peuvent être renvoyés au même format 'CODE:QTY;CODE2:QTY'.",
                "operationId": "055b342ed9e279c44deb65756539993d",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Code du mouvement d'entrée",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "MH123ABC45"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "products": {
                                        "description": "Liste des produits (facultatif). Format : 'PRXXXX:20;PRXXXX:5'",
                                        "type": "string",
                                        "example": "PR3D06:40"
                                    },
                                    "note": {
                                        "description": "Note ou remarque additionnelle",
                                        "type": "string",
                                        "example": "Correction suite au contrôle",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mouvement d'entrée mis à jour avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MovementDetailIn"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Entrée de stock"
                ],
                "summary": "Supprimer un mouvement d'entrée",
                "description": "Supprime un mouvement d'entrée de stock selon son code.",
                "operationId": "ff9021cf47ba24899830cb74ed286bde",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Code du mouvement d'entrée",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "MOVIN00123"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mouvement d'entrée supprimé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Mouvement d'entrée supprimé avec succès."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "404": {
                        "description": "Mouvement non trouvé"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/movements/out/{code}": {
            "get": {
                "tags": [
                    "Sortie de stock"
                ],
                "summary": "Afficher un mouvement de sortie spécifique",
                "description": "Récupère les détails d'un mouvement OUT (sortie) avec produits, district et audit.",
                "operationId": "e1067849336fa97b5bc83f064f02eac8",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Code du mouvement OUT",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "RSHXXXXX"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails du mouvement de sortie récupérés avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MovementDetailOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Mouvement non trouvé"
                    },
                    "403": {
                        "description": "Accès interdit"
                    },
                    "500": {
                        "description": "Erreur interne serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Sortie de stock"
                ],
                "summary": "Modifier un mouvement de sortie",
                "description": "Met à jour les informations d'un sorite de stock.",
                "operationId": "098e3daae0b6d204c967cda179ddb07b",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Code du sortie de sortie",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "RSHXXXXX"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "products": {
                                        "description": "Liste des produits au format 'CODE:QTY;CODE2:QTY'",
                                        "type": "string",
                                        "example": "PR3D06:10"
                                    },
                                    "district_id": {
                                        "description": "Ville/Quartier associé au demande de sortie",
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "name": {
                                        "description": "Nom du client/fournisseur",
                                        "type": "string",
                                        "example": "Nouveau nom",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "description": "Téléphone mis à jour",
                                        "type": "string",
                                        "example": "0699887766",
                                        "nullable": true
                                    },
                                    "address": {
                                        "description": "Adresse modifiée",
                                        "type": "string",
                                        "example": "Nouvelle adresse",
                                        "nullable": true
                                    },
                                    "note": {
                                        "description": "Note ou précision ajoutée",
                                        "type": "string",
                                        "example": "Mise à jour après vérification",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Sortie de stock mis à jour avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MovementDetailOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Sortie de stock"
                ],
                "summary": "Supprimer un mouvement de sortie",
                "description": "Supprime un mouvement de sortie de stock selon son code.",
                "operationId": "c09396304fb9816dcf2f29e42fbeb82a",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Code du mouvement de sortie",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "MOVOUT00987"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mouvement de sortie supprimé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Mouvement de sortie supprimé avec succès."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "404": {
                        "description": "Mouvement non trouvé"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/packagings": {
            "get": {
                "tags": [
                    "Emballages"
                ],
                "summary": "Liste des emballages",
                "description": "Liste des emballages",
                "operationId": "85cdb7b252bb9ec72e6cc45c056e570c",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "querystring",
                        "in": "query",
                        "description": "Recherche par nom de l'emballage",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, Retourner une liste des emballages",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Liste des emballages."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Packaging"
                                            }
                                        },
                                        "total": {
                                            "description": "Le nombre total d'éléments dans la collection.",
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "per_page": {
                                            "description": "Le nombre d'éléments affichés par page.",
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "current_page": {
                                            "description": "Le numéro de la page actuellement affichée.",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page": {
                                            "description": "Le numéro de la dernière page de la collection.",
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "next_page_url": {
                                            "description": "L'URL de la page suivante de la collection. Si la page actuelle est la dernière, cette valeur peut être null.",
                                            "type": "string",
                                            "example": "http://app.sendit.com/api/v1/packagings?page=2"
                                        },
                                        "prev_page_url": {
                                            "description": "L'URL de la page précédente de la collection. Si la page actuelle est la première, cette valeur peut être null.",
                                            "type": "string",
                                            "example": "http://app.sendit.com/api/v1/packagings?page=1"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "404": {
                        "description": "Page non trouvée"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/packagings/{code}": {
            "get": {
                "tags": [
                    "Emballages"
                ],
                "summary": "Détails de l'emballage",
                "description": "Détails de l'emballage",
                "operationId": "5e2d765fd0597bc40d44f7b3e636c5d8",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Code de l'emballage",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PackagingDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "404": {
                        "description": "Page non trouvée"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/invoices": {
            "get": {
                "tags": [
                    "Factures"
                ],
                "summary": "Liste des factures",
                "description": "Retourne la liste des factures (payments) avec pagination et filtres.",
                "operationId": "747355b840332b6b25bee8122db1e32e",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "Date début (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "Date fin (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "querystring",
                        "in": "query",
                        "description": "Recherche sur code/commentaire",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoiceList"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "404": {
                        "description": "Page non trouvée"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/invoices/{code}": {
            "get": {
                "tags": [
                    "Factures"
                ],
                "summary": "Détails d'une facture",
                "description": "Retourne les détails d'une facture (payment) par son code.",
                "operationId": "0c1233f9713bef42731d31c57c2014f7",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Code de la facture",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "FH613891A7"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Détails de la Facture."
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 163109
                                                },
                                                "code": {
                                                    "type": "string",
                                                    "example": "FH613891A7"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "PENDING"
                                                },
                                                "amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 456.99
                                                },
                                                "date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-09-22"
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "oneOf": [
                                                            {
                                                                "$ref": "#/components/schemas/DeliveryItem"
                                                            },
                                                            {
                                                                "$ref": "#/components/schemas/PickupItem"
                                                            },
                                                            {
                                                                "$ref": "#/components/schemas/ExtraPaymentItem"
                                                            },
                                                            {
                                                                "$ref": "#/components/schemas/CreditItem"
                                                            }
                                                        ]
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Facture non trouvée"
                    },
                    "403": {
                        "description": "Accès non autorisé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/pickups": {
            "get": {
                "tags": [
                    "Ramassages"
                ],
                "description": "Liste des ramassages",
                "operationId": "f4389fb548e35ea244d99c6748e49f50",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "querystring",
                        "in": "query",
                        "description": "Recherche par code, nom du client, téléphone et adresse",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des ramassages récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Liste des ramassages."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Ramassage"
                                            }
                                        },
                                        "total": {
                                            "description": "Nombre total d'éléments",
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "per_page": {
                                            "description": "Éléments par page",
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "current_page": {
                                            "description": "Page actuelle",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page": {
                                            "description": "Dernière page",
                                            "type": "integer",
                                            "example": 5
                                        },
                                        "next_page_url": {
                                            "description": "URL page suivante",
                                            "type": "string",
                                            "example": "http://app.sebdit.ma/api/v1/pickups?page=2"
                                        },
                                        "prev_page_url": {
                                            "description": "URL page précédente",
                                            "type": "string",
                                            "example": "http://app.sebdit.ma/api/v1/pickups?page=1"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Ramassages"
                ],
                "summary": "Créer un nouveau ramassage",
                "description": "Ajoute un ramassage en fournissant les informations nécessaires",
                "operationId": "650c1bf6ab0b5be58ca9e03f21901c36",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "district_id",
                                    "name",
                                    "address",
                                    "phone",
                                    "note"
                                ],
                                "properties": {
                                    "district_id": {
                                        "description": "ID du district",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "name": {
                                        "description": "Nom du vendeur/fournisseur",
                                        "type": "string",
                                        "example": "Test"
                                    },
                                    "phone": {
                                        "description": "Téléphone du vendeur/fournisseur",
                                        "type": "string",
                                        "example": "06XXXXXXXX"
                                    },
                                    "address": {
                                        "description": "Adresse du vendeur/fournisseur",
                                        "type": "string",
                                        "example": "Casablanca"
                                    },
                                    "note": {
                                        "description": "note du vendeur",
                                        "type": "string",
                                        "example": "test"
                                    },
                                    "deliveries": {
                                        "description": "Liste des codes des colis",
                                        "type": "string",
                                        "example": "DHXXXXX1,DHXXXXX2,DHXXXXX3"
                                    },
                                    "movements": {
                                        "description": "Liste des codes des mouvements d'entree de stock uniquement",
                                        "type": "string",
                                        "example": "MHXXXXX1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Ramassage créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RamassageDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/pickups/{code}": {
            "get": {
                "tags": [
                    "Ramassages"
                ],
                "summary": "Afficher un ramassage spécifique",
                "description": "Récupère les informations d'un ramassage par son code",
                "operationId": "801506ca0414cdf8de59fc630538a6d4",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "code du ramassage",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RamassageDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "404": {
                        "description": "Page non trouvée"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Ramassages"
                ],
                "summary": "Modifier un ramassage",
                "description": "Modifier un ramassage. Les champs `deliveries` et `movements` peuvent etre utilises separement ou ensemble.",
                "operationId": "8dcc1ef56396c407c243dfa99c781979",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "code du ramassage",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Nom du vendeur/fournisseur",
                                        "type": "string",
                                        "example": "Test"
                                    },
                                    "phone": {
                                        "description": "Téléphone du vendeur/fournisseur",
                                        "type": "string",
                                        "example": "06XXXXXXXX"
                                    },
                                    "address": {
                                        "description": "Adresse du vendeur/fournisseur",
                                        "type": "string",
                                        "example": "Casablanca"
                                    },
                                    "note": {
                                        "description": "note du vendeur",
                                        "type": "string",
                                        "example": "test"
                                    },
                                    "deliveries": {
                                        "description": "Liste des codes des colis",
                                        "type": "string",
                                        "example": "DHXXXXX1,DHXXXXX2,DHXXXXX3"
                                    },
                                    "movements": {
                                        "description": "Liste des codes des mouvements d'entree de stock uniquement",
                                        "type": "string",
                                        "example": "MHXXXXX1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ramassage modifié avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RamassageDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Ramassages"
                ],
                "summary": "Supprimer un ramassage",
                "description": "Supprimer un ramassage",
                "operationId": "4307d397ad302653323ae05c611c7d19",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "code du ramassage",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Ramassage supprimé avec succes."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/products": {
            "get": {
                "tags": [
                    "Produits"
                ],
                "summary": "Liste des produits",
                "description": "Retourne la liste des produits",
                "operationId": "24040067e52a418977eccdf09f28c3fd",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "querystring",
                        "in": "query",
                        "description": "Recherche par code,nom et référence du produit",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductList"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "404": {
                        "description": "Page non trouvée"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Produits"
                ],
                "summary": "Créer un nouveau produit",
                "description": "Crée un produit en fournissant les informations nécessaires",
                "operationId": "bf0f187b6a66fd5d6c45801fd6e407be",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reference",
                                    "name",
                                    "price",
                                    "category",
                                    "active",
                                    "image"
                                ],
                                "properties": {
                                    "reference": {
                                        "description": "Référence unique du produit",
                                        "type": "string",
                                        "example": "ref_X"
                                    },
                                    "name": {
                                        "description": "Nom du produit",
                                        "type": "string",
                                        "example": "Produit X"
                                    },
                                    "price": {
                                        "description": "Prix du produit",
                                        "type": "number",
                                        "format": "float",
                                        "example": 199
                                    },
                                    "category": {
                                        "description": "Catégorie du produit (valeurs autorisées)",
                                        "type": "string",
                                        "enum": [
                                            "Électronique | الإلكترونيات",
                                            "Vêtements | الملابس",
                                            "Accessoires de mode | إكسسوارات الموضة",
                                            "Beauté et santé | الجمال والصحة",
                                            "Maison et jardin | المنزل والحديقة",
                                            "Jeux et jouets | الألعاب والدمى",
                                            "Livres et papeterie | الكتب والقرطاسية",
                                            "Sports et loisirs | الرياضة والترفيه",
                                            "Produits pour animaux | منتجات للحيوانات الأليفة",
                                            "Informatique | الحواسيب",
                                            "Téléphones et accessoires | الهواتف والملحقات",
                                            "Articles de voyage | مستلزمات السفر",
                                            "Bijoux | المجوهرات",
                                            "Musique et instruments | الموسيقى والآلات الموسيقية",
                                            "Articles pour bébés | مستلزمات الأطفال",
                                            "Voitures et accessoires | السيارات وملحقاتها",
                                            "Articles de bureau | لوازم المكتب",
                                            "Autres | الأخرى"
                                        ],
                                        "example": "Accessoires de mode | إكسسوارات الموضة"
                                    },
                                    "active": {
                                        "description": "Statut du produit (1=actif,0=inactif)",
                                        "type": "boolean",
                                        "example": 1
                                    },
                                    "image": {
                                        "description": "Image encodée en Base64 avec Data URI (data:image/png;base64,...)",
                                        "type": "string",
                                        "format": "byte",
                                        "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAYAAABccqhmAAAABHNCSVQICAgIfAhkiAAAA..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Produit créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Les données fournies sont invalides"
                    },
                    "403": {
                        "description": "Vous n'avez pas les autorisations nécessaires"
                    },
                    "500": {
                        "description": "Une erreur s'est produite côté serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/products/{code}": {
            "get": {
                "tags": [
                    "Produits"
                ],
                "summary": "Détail du produit",
[...]
